
h1{
	text-align: center;
}
.form-container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: space-between;
}


input{
	padding: 1em;
	margin-bottom: 3em;
}


.input-message{
	width: 90%;
	height: 20em;
}

button{
	width: 30%;
	height: 5em;
	margin-bottom: 2em;
	border-color: green;
	font-size: 1em;
}